* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(95, 95, 95, 0.521));
    border-radius: 6vh;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
}